body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    display: flex;
    align-items: center;
	border: 5px solid #333;
    border-radius: 50px;
    text-align: center;
	background-color: #f0f0f0;
	padding: 40px;
}

.red, .green, .yellow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.red {
    background-color: #ff0000; /* Red */
}

.green {
    background-color: #00ff00; /* Green */
}

.yellow {
    background-color: #ffff00; /* Yellow */
}
